@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}

.inputContainer {
  --input-size: 1;
  --input-radius: 0.25;
  --input-placeholder-color: gray;
  --input-value-color: black;
  --input-outline-color: #3ab3ff;
  --input-background-color: #cfcfcf;
}

.label {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: 0 0.4rem;
  font-size: calc(1rem * var(--input-size));
}

.asterisk {
  color: red;
  font-size: calc(1rem * var(--input-size));
}

.description {
  font-family: 'Roboto', sans-serif;
  color: rgb(111, 111, 111);
  padding: 0 0.4rem;
  margin: 0.2rem 0;
  font-size: calc(0.85rem * var(--input-size));
}

.input {
  font-family: 'Roboto', sans-serif;
  border: solid 1px var(--input-border-color);
  border-radius: calc(1rem * var(--input-radius));
  font-size: calc(1rem * var(--input-size));
  padding: 0.4rem;
  color: var(--input-value-color);
  caret-color: var(--input-value-color);
  background-color: var(--input-background-color);
}
.input::placeholder {
  color: var(--input-placeholder-color);
}
.input:focus {
  outline: none;
  border: solid 1px var(--input-outline-color);
}

.error {
  margin: 0.2rem 0;
  color: red;
}
