.inputContainer {
  --input-size: 1;
}

.label {
  font-weight: bold;
  font-size: calc(1.2rem * var(--input-size));
}

.asterisk {
  color: red;
  margin-left: 0.3rem;
  font-size: calc(1rem * var(--input-size));
}

.description {
  margin: 0.2rem 0;
  font-size: calc(1rem * var(--input-size));
}

.input {
  border-radius: calc(1rem * var(--input-radius));
  font-size: calc(1rem * var(--input-size));
  padding: 0.4rem;
}
